<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DirectoryPath" value="C:\Users\Nao\Documents" />
		<!--<add key="FileNamePattern" value="[%TIMESTAMP%]_[%PARENT%]_[%SEQUENCE%].[%EXTENSION%]" />-->
		<add key="FileNamePattern" value="[%PARENT%]_[%SEQUENCE%].[%EXTENSION%]" />
		<add key="SequenceFormat" value="0000" />
		<add key="DatetimeFormat" value="yyyyMMdd" />
		<add key="Extensions" value=".jpg,.jpeg,.png,.mp4,.mov" />
	</appSettings>
</configuration>